<!-- start call to action -->
<section class="callToAction">
    <div class="container">
        <div class="ctaBox">
            <div class="col-lg-9">
                <h1>Quiero recibir informaci&oacute;n</h1>
                <p>Si desea recibir informaci&oacute;n, ya sea de subastas o inmuebles, por favor complete el formulario y en la brevedad nos pondremos en contacto con usted.</p>
            </div>
            <div class="col-lg-3">
                <a style="float:right; margin-top:15px;" class="buttonColor" href="#">Contactanos</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</section>
<!-- end call to action -->