<ul class="contactDetails">
    <li><img src="{{ asset('img/icons/icon-mail.png') }}" alt="" />inmobiliariavaldemarin@gmail.com</li>
    <li><img src="{{ asset('img/icons/icon-phone.png') }}" alt="" />+54 03571 643203</li>
    <li><img src="{{ asset('img/icons/icon-pin.png') }}" alt="" />Alsina 546 - Río Tercero - Pcia. de Córdoba, Argentina</li>
</ul>
