{% extends 'base.html.twig' %}

{% block body %}

	<!-- start subheader -->
	<section class="subHeader page">
	    <div class="container">
	        <h1>Estudio Jur&iacute;dico</h1>
	    </div><!-- end subheader container -->
	</section><!-- end subheader section -->

	<!-- start big message -->
	<section class="bigMessage pt30 pb30">
	    <div class="container">
	        <p>DECLARATORIAS DE HEREDEROS - SUCESIONES - USUCAPIONES - LABORALES - CONTRATOS - FAMILIA - DIVORCIOS - ASISTENCIA INTEGRAL</p>
	    </div>
	</section>
	<!-- end big message -->

	<!-- start widgets section -->
	<section class="properties">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-6 col-md-6">
	                <h3>ESTUDIO</h3>
	                <div class="divider"></div>
	                <p>Integramos un equipo formado por abogados, martilleros, peritos tasadores, y otros profesionales, algunos ex docentes universitarios; avalados por una trayectoria y experiencia de m&aacute;s de 30 a&ntilde;os en el rubro, basando nuestro camino en la rectitud, solvencia moral y proceder; logramos con estas pautas la satisfacci&oacute;n y concreci&oacute;n de cada una de las comisiones de negocios que nos conf&iacute;an. Nuestro objetivo es el de obtener la satisfacci&oacute;n de nuestros clientes como &uacute;nica v&iacute;a posible de crecimiento mutuo, asumiendo el compromiso de dar respuestas a la confianza que ellos depositan en nosotros.</p>
	            </div>
	            <div class="col-lg-6 col-md-6">
	                <h3>PROFESIONALES</h3>
	                <div class="divider"></div>
	                <div>
		                <h4>VALDEMARIN, Cristian David:</h4>
		                <p>Martillero Judicial M.P. 01-1311 - Perito Tasador M.P. 06-462 - Corredor Inmobiliario M.P. 02-1541</p>
	                </div><br/>
	                <div>
		                <h4>CIACCI Daniela Fernanda:</h4>
		                <p>ABOGADA  M.P. 10-207</p>
	                </div>
	            </div>
	        </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end widgets section -->

	<!-- Contact CTA -->
	{{ include('default/contact_cta.html.twig') }}

{% endblock %}
