{% extends 'base.html.twig' %}

{% block body %}

	<!-- start subheader -->
	<section class="subHeader page">
	    <div class="container">
	        <h1>Nuestros Servicios</h1>
	    </div><!-- end subheader container -->
	</section><!-- end subheader section -->

	<!-- start widgets section -->
	<section class="properties">
	    <div class="container">
	        <div class="row pbl">
	            <div class="col-lg-6 col-md-6">
	                <h3>Se&ntilde;or Propietario:</h3>
	                <div class="divider"></div>
	                <p>De hallarse interesado en vender y/o alquilar su propiedad, ponemos a su disposici&oacute;n nuestra organizaci&oacute;n y lo invitamos a formar parte de nuestra cartera de clientes y amigos que a&ntilde;o tras a&ntilde;o nos honran con su confianza.-</p>
	                <p>De ser as&iacute;, nos complacer&iacute;a recibir sus datos personales conjuntamente con los datos de su propiedad o sus bienes, a trav&eacute;s de la forma que Ud. Prefiera: e-mail, fax, correo, por tel&eacute;fono o personalmente.-</p>
	            </div>
	            <div class="col-lg-6 col-md-6">
	                <h3>SERVICIOS</h3>
	                <div class="divider"></div>
	                <p>El &eacute;xito de nuestros clientes es el &eacute;xito de nuestra empresa desde hace mas de 20 a&ntilde;os trabajamos junto al mejor grupo de personas capacitadas en el mercado inmobiliario y en remates judiciales y p&uacute;blicos, a su servicio. Hemos desarrollado una reconocida trayectoria basada en la experiencia, eficacia y seriedad en el medio.-</p>
	            </div>
            </div>
            <div class="row pbl">
	            <div class="col-lg-6 col-md-6">
	                <h3>GESTION INTEGRAL DE COMPRA VENTA DE INMUEBLES</h3>
	                <div class="divider"></div>
	                <p>Le ayudamos a encontrar la vivienda que mas se adapte a sus necesidades y una vez conseguido, con el asesoramiento de nuestros profesionales titulados y especializados, le asesoramos de los pasos a seguir para que su vivienda se le sea entregada en la mayor brevedad posible.-</p>
	                <p>Si lo que desea es vender un inmueble, contamos con una amplia cartera de clientes a quienes ofrecer nuestras ofertas, con ello podemos comprometernos a vender su vivienda con las mejores condiciones de forma r&aacute;pida y asesorado siempre por profesionales.-</p>

	                <h3 class="ptl">SUBASTAS PUBLICAS - JUDICIALES - TASACIONES</h3>
	                <div class="divider"></div>
	                <p>En Valdemarin &amp; Asociados ofrecemos una exclusiva combinaci&oacute;n de experiencia, organizaci&oacute;n y eficiencia que pocos competidores pueden conjugar.</p>
	                <p>Nos valemos de m&aacute;s de 25 a&ntilde;os de actividad, atesorados cuidadosamente como experiencia para poner al servicio de nuestros clientes y as&iacute; ofrecerle la mejor organizaci&aacute;n y profesionales talentosos cuyo principal objetivo es que usted quede conforme.<br>
					Nuestro personal trabaja de cerca con cada cliente a fin de tener plena seguridad de brindar un servicio de excelencia, capaz de satisfacer las necesidades individuales de cada uno.</p>
					<p><span class="underline">Nuestra misi&oacute;n:</span> es la de proveer a nuestros clientes el mayor beneficio en la realizaci&oacute;n de activos.</p>
					<p><span class="underline">Tasaci&oacute;n:</span> nuestros clientes cuentan con una informaci&oacute;n detallada del valor de mercado de sus bienes. Ajustada por la experiencia de los Peritos Tasadores que act&uacute;an en cada ocasi&oacute;n.</p>
					<p><span class="underline">Subasta:</span> constituye el n&uacute;cleo de nuestra estrategia de ventas. Las condiciones que se crean en la puja por la obtenci&oacute;n del bien y la transparencia de la transacci&oacute;n, se convierten en la mejor garant&iacute;a para todas las partes intervinientes. Nuestra historia constituye en este aspecto el mejor respaldo de la eficacia y seriedad de las operaciones.</p>
					<p><span class="underline">Publicidad:</span> mucho podemos decir para destacar las ventajas de una buena publicidad. En nuestra tarea cumple un rol fundamental; la correcta disposici&oacute;n en tiempo y forma, y el uso adecuado de los recursos nos permite obtener la mejor relaci&oacute;n costo-beneficio.</p>
					<p><span class="underline">Liquidaci&oacute;n:</span> brindamos en este aspecto la seguridad de un manejo preciso y prolijo de los resultados.</p>
					<p><span class="underline">Loteo:</span> tiene una relevancia significativa la adecuada presentaci&oacute;n de los art&iacute;culos, la secuencia, la disposici&oacute;n y la manera particular de agruparlos.<br>
					La habilidad y destreza con que resolvemos esta etapa facilita alcanzar el objetivo propuesto.</p>
                </div>
                <div class="col-lg-6 col-md-6">
	                <h3>GESTION INTEGRAL DE ALQUILER DE INMUEBLES</h3>
	                <div class="divider"></div>
	                <p>Tanto si es propietario de una vivienda como si desea alquilar, disponemos de profesionales especializados y titulados que se encargaran de todos los tr&aacute;mites.-</p>
	                <p><span class="underline">Administración de alquileres:</span><br>
					En el comienzo: un buen inquilino.-<br>
					La elecci&oacute;n de los inquilinos se basa en un exhaustivo informe sobre la solvencia patrimonial de inquilinos y garantes que es presentado en un informe confidencial por escrito.-</p>
					<p><span class="underline">La administraci&oacute;n durante el contrato:</span><br>
					La &uacute;nica ocupaci&oacute;n del due&ntilde;o es recibir el monto del alquiler.-<br>
					-- Cobranzas mensuales de alquiler.-<br>
					-- Control mensual de pago de impuestos, expensas, gas, agua, tel&eacute;fono, electricidad.<br>
					-- Liquidaciones mensuales por recibo al propietario detallando ingresos, egresos y comprobantes de pago de impuestos, servicios y expensas.<br>
					-- Deposito de los importes en cuenta bancarias.-</p>
					<p><span>Soluci&oacute;n a los problemas:</span><br>
					La administraci&oacute;n se ocupa de solucionar todos los problemas que puedan surgir durante el contrato.-<br>
					-- Desperfectos del inmueble.-<br>
					-- Tramites ante la administraci&oacute;n del consorcio.-<br>
					-- Soluci&oacute;n a los problemas de facturaci&oacute;n de impuestos y servicios.-<br>
					-- Intimaci&oacute;n legal por atrasos en los pagos.-</p>
					<p><span class="underline">Cuando termina el contrato:</span><br>
					La administraci&oacute;n acompa&ntilde;a y asesora al terminar la relaci&oacute;n contractual con el inquilino.-</p>
					<p>Tambi&eacute;n asesoramos a aquellos propietarios que desean poner en alquiler temporario su inmueble, analizamos las alternativas, los beneficios, costos y determinamos si es o no conveniente en cada caso particular.-</p>
                </div>
            </div><!-- end row -->
	    </div><!-- end container -->
	</section>
	<!-- end widgets section -->

	<!-- Contact CTA -->
	{{ include('default/contact_cta.html.twig') }}

{% endblock %}
