{% extends 'base.html.twig' %}

{% block body %}

	<!-- start subheader -->
	<section class="subHeader page">
	    <div class="container">
	        <h1>Quienes Somos</h1>
	    </div><!-- end subheader container -->
	</section><!-- end subheader section -->

	<!-- start widgets section -->
	<section class="properties">
	    <div class="container">
	        <div class="row pbl">
	            <div class="col-lg-6 col-md-6">
	                <h3>Quienes Somos</h3>
	                <div class="divider"></div>
	                <p>Nuestra lealtad absoluta con nuestros clientes es nuestro punto de inicio. A partir de ah&iacute; todos y cada uno de nuestros integrantes se esfuerzan para exceder las expectativa de nuestros clientes y obtener los resultados que nos demandan.-</p>
	                <p>Brindamos asesoramiento integral para la realizaci&oacute;n de negocios sobre bienes muebles e inmuebles. Avalan nuestra experiencia m&uacute;ltiples y exitosas operaciones en R&iacute;o Tercero y la zona, realizadas bajo el se&ntilde;o de la honestidad y seriedad que nos caracteriza.-</p>
	            </div>
	            <div class="col-lg-6 col-md-6">
	                <h3>C&oacute;mo Trabajamos</h3>
	                <div class="divider"></div>
	                <p>Si usted desea realizar negocios y utilizar nuestros servicios para poner sus bienes en venta o alquiler, es natural que desee conocernos.-</p>
	                <p>Valdemarin &amp; Asociados, es una empresa Familiar que trabaja en equipo, aportando ideas, mejorando d&iacute;a a d&iacute;a la gesti&oacute;n, pensando como dar el mejor servicios a nuestros clientes y haciendo de esto un lugar de trabajo agradable y eficiente, dedicada a todo tipo de transacciones inmobiliarias y subastas Publicas, Judiciales, Oficiales, extrajudiciales.-</p>
	                <p>Contamos adem&aacute;s con un Departamento de asesoramiento Legal, con asistencia permanente y profesionales id&oacute;neos que cubren todas las necesidades que el sector requiere, de esta manera podemos ofrecer a nuestros clientes un servicio completo, serio y eficaz.-</p>
	            </div>
            </div>
            <div class="row pbl">
            	<div class="col-lg-6 col-md-6">
	                <h3>Qu&eacute; Hacemos</h3>
	                <div class="divider"></div>
	                <p>Nuestro personal activo es nuestro personal. En su relaci&oacute;n con Valdemarin &amp; Asociados usted va a tratar con personas...</p>
	                <p>Todos los que aqu&iacute; trabajamos sabemos que las relaciones humanas son fundamentales en el tr&aacute;fico de bienes. De poco sirve la publicidad, los medios electr&oacute;nicos, etc, si no existe el convencimiento de que detr&aacute;s de un encargo hay un cliente que espera lo mejor de nosotros, de nuestro profesionalidad, de nuestras personas.-</p>
	                <p>Cuando Usted conf&iacute;a a Valdemarin &amp; Asociados un bien para su comercializaci&oacute;n no nos limitamos a introducir sus datos en nuestros ficheros, colocar un anuncio y esperar a que alg&uacute;n posible cliente se interese por su propiedad. De forma permanente hacemos un estrecho seguimiento del encargo a fin de sugerirle cualquier modificaci&oacute;n de las condiciones de oferta para adecuar la misma a las cambiantes situaciones del mercado actual.-</p>
                </div>
                <div class="col-lg-6 col-md-6">
	                <h3>Nuestras Herramientas de Trabajo</h3>
	                <div class="divider"></div>
	                <p>En Valdemarin &amp; Asociados un evolucionado y sofisticado sistema inform&aacute;tico mantiene una base de datos, en permanente actualizaci&oacute;n, con todos los detalles de las propiedades y dem&aacute;s bienes que en cada momento componen nuestra cartera; Mantiene a su vez de forma continua una abundante presencia en los anuncios especializados de los peri&oacute;dicos con mayor tirada.-</p>
	                <p>Prestamos una particular atenci&oacute;n a la publicidad est&aacute;tica que se instala en las propiedades en venta, alquiler y subastas. Carteles, Pancartas grandes, legibles y de vivos colores, dise&ntilde;ados de manera personalizada por nuestro Departamento de Publicidad y Marketing que llaman f&aacute;cilmente la atenci&oacute;n del pasante o posible interesado.-</p>
                </div>
            </div>
	    </div><!-- end container -->
	</section>
	<!-- end widgets section -->

	<!-- Contact CTA -->
	{{ include('default/contact_cta.html.twig') }}

{% endblock %}
